.ImgClass{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    background-color: white;
    padding: 10px;
}

.setting-widget{
    height: 100px;
}