<div class="row">
    <div class="col-12">
        <ngx-loading [show]="busy"></ngx-loading>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-5"> </div>
    <div class="col-md-4 col-4">
        <label class="control-label float-right mt-2">
            {{'xSortBy' | translate}}
        </label>
    </div>
    <div class="col-md-3 col-8 mb-2">
        <select (change)="loadData()" class="form-control" name="CommentSortTypeId"
            [(ngModel)]="criteriaDto.CommentSortTypeId">
            <option *ngFor="let item of commentSortTypes | enums" [ngValue]="item.key">
                {{item.value | translate}}
            </option>
        </select>
    </div>
</div>
<div class="row mb-2" *ngFor="let comment of commentList;">
    <div class="col-lg-12" [@expandCollapse]>
        <comment-list-item [listItem]="comment" [caseId]="caseId"></comment-list-item>
    </div>
</div>
<div class="row" *ngIf="commentList.length == 0" [@expandCollapse]>
    <div class="col-12">
        <h4 class="text-danger no-records mb-0" *ngIf="busy"> {{'xPleaseWait' | translate}} </h4>
        <h4 class="text-danger no-records mb-0" *ngIf="!busy"> {{'xNoCommentsFound' | translate}}
            <fa [name]="'frown-o'" [size]=1></fa>
        </h4>
    </div>
</div>