<div class="tile" [class.border]="IsInside" [class.border-danger]="IsInside">
    <div class="row mb-2">
        <div class="col-md-8 mb-2">
            <!--Product/Labor-->
            <div class="input-group" (click)="selectPersonProduct()" style="cursor: pointer;">
                <input class="form-control" type="text" name="personAccounts" disabled placeholder="{{productListStr}}">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm btn-block" type="button" [disabled]="IsInside">
                        <fa [name]="'search'"></fa>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <select class="form-control" (change)="dateRangeChanged()" (change)="search()" [(ngModel)]="dateRange"
                name="dateRange">
                <option *ngFor="let item of dateRanges | enums" [ngValue]="item.key">{{item.value | translate}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary btn-sm float-right" type="button" (click)="showCriteria=!showCriteria">
                <fa [name]="showCriteria?'minus':'plus'" [size]=1 class="float-left" style="cursor: pointer"></fa>{{'xDetailed'
                | translate}}
            </button>
        </div>
    </div>
    <form class="needs-validation" #criteriaForm="ngForm" novalidate *ngIf="showCriteria" [@expandCollapse]>
        <div class="row">
            <div class="col-md-6">
                <!--Quantity-->
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="card bg-light">
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 (click)="showQuantity=!showQuantity" style="cursor: pointer">
                                            {{'xQuantity' | translate}}
                                            <fa [name]="showQuantity?'minus':'plus'" class="float-right"></fa>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showQuantity" [@expandCollapse]>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" #quantityMin="ngModel" min="0"
                                            [(ngModel)]="criteriaDto.QuantityTotalMin" name="QuantityMin" currencyMask
                                            [options]="configQuantity" type="tel"
                                            placeholder="{{'xMin' | translate}}"
                                            [class.is-invalid]="quantityMin.value < 0 || quantityMin.invalid && (quantityMin.touched || criteriaForm.submitted)">
                                        <div class="invalid-tooltip">{{'xCantBeLessThan0' | translate}}</div>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" #quantityMax="ngModel" min="0"
                                            [(ngModel)]="criteriaDto.QuantityTotalMax" name="QuantityMax" currencyMask
                                            [options]="configQuantity" type="tel"
                                            placeholder="{{'xMax' | translate}}"
                                            [class.is-invalid]="quantityMax.value < 0 || quantityMax.invalid && (quantityMax.touched || criteriaForm.submitted)">
                                        <div class="invalid-tooltip">{{'xCantBeLessThan0' | translate}}</div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showQuantity" [@expandCollapse]>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-sm float-left" type="button"
                                            (click)="search()">
                                            <fa [name]="'search'"></fa>{{'xSearch' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!--Approval stats-->
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="card bg-light">
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 (click)="showApprovalStat=!showApprovalStat" style="cursor: pointer">
                                            *{{'xApprovalStatus' | translate}}
                                            <fa [name]="showApprovalStat?'minus':'plus'" class="float-right"></fa>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showApprovalStat" [@expandCollapse]>
                                    <div class="col-md-6">
                                        <div class="utility">
                                            <div class="animated-checkbox">
                                                <label>
                                                    <input type="checkbox" name="pending" [(ngModel)]="checkedPending"
                                                        (change)="approvalStatusChange(true)">
                                                    <span class="label-text">{{'xPending' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="utility">
                                            <div class="animated-checkbox">
                                                <label>
                                                    <input type="checkbox" name="accepted" [(ngModel)]="checkedAccepted"
                                                        (change)="approvalStatusChange(true)">
                                                    <span class="label-text">{{'xAccepted' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="utility">
                                            <div class="animated-checkbox">
                                                <label>
                                                    <input type="checkbox" name="deleted" [(ngModel)]="checkedDeleted"
                                                        (change)="approvalStatusChange(true)">
                                                    <span class="label-text">{{'xDeleted' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="utility">
                                            <div class="animated-checkbox">
                                                <label>
                                                    <input type="checkbox" name="rejected" [(ngModel)]="checkedRejected"
                                                        (change)="approvalStatusChange(true)">
                                                    <span class="label-text">{{'xRejected' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="utility">
                                            <div class="animated-checkbox">
                                                <label>
                                                    <input type="checkbox" name="pulledBack"
                                                        [(ngModel)]="checkedPulledBack"
                                                        (change)="approvalStatusChange(true)">
                                                    <span class="label-text">{{'xPulledBack' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Issue date-->
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="card bg-light">
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 (click)="showIssueDate=!showIssueDate" style="cursor: pointer">
                                            *{{'xIssueDate' | translate}}
                                            <fa [name]="showIssueDate?'minus':'plus'" class="float-right"></fa>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showIssueDate" [@expandCollapse]>
                                    <div class="col-md-6 mb-2">
                                        <label class="control-label">{{'xStart' | translate}}</label>
                                        <div class="input-group">
                                            <input type="text" #issueDateStart="ngModel" required
                                                [class.is-invalid]="issueDateStart.invalid && (issueDateStart.touched || criteriaForm.submitted)"
                                                class="form-control" bsDatepicker #bsIssueDateStart="bsDatepicker"
                                                [(ngModel)]="criteriaDto.IssueDateStart" name="IssueDateStart"
                                                [placement]="'top'" [bsConfig]="{ containerClass: 'theme-blue' }"
                                                placeholder="{{'xShortDateText' | translate}}">
                                            <div class="invalid-tooltip">{{'xBirthdayCantBeEmpty' | translate}}</div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-success"
                                                    (click)="bsIssueDateStart.show(); $event.preventDefault();">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="control-label">{{'xEnd' | translate}}</label>
                                        <div class="input-group">
                                            <input type="text" #issueDateEnd="ngModel" required
                                                [class.is-invalid]="issueDateEnd.invalid && (issueDateEnd.touched || criteriaForm.submitted)"
                                                class="form-control" bsDatepicker #bsIssueDateEnd="bsDatepicker"
                                                [(ngModel)]="criteriaDto.IssueDateEnd" name="IssueDateEnd"
                                                [placement]="'top'" [bsConfig]="{ containerClass: 'theme-blue' }"
                                                placeholder="{{'xShortDateText' | translate}}">
                                            <div class="invalid-tooltip">{{'xBirthdayCantBeEmpty' | translate}}</div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-success"
                                                    (click)="bsIssueDateEnd.show(); $event.preventDefault();">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showIssueDate" [@expandCollapse]>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-sm float-left" type="button"
                                            (click)="search()">
                                            <fa [name]="'search'"></fa>{{'xSearch' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <label
                                            class="control-label float-right">{{'xShortDateText' | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Clear-->
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-secondary btn-sm float-right" type="button" (click)="clear(true)">
                            <fa [name]="'refresh'"></fa>{{'xClear' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<person-product-search-index *ngIf="isPersonProductSearchModalOpen"></person-product-search-index>