<page-title [helpName]="'Login'" [icon]="'unlock'" *ngIf="show" [title]="'xForgotPassword'" [@expandCollapse]></page-title>

<ngx-loading [show]="busy"></ngx-loading>

<div class="tile" *ngIf="show" [@expandCollapse]>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12">
                    <img src="assets/common/elmasium_logo_small.png" class="blink" alt="logo">
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">
                    <h6 class="font-weight-light float-right">{{'ItsFree' | translate}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form #forgetPasswordForm="ngForm" (submit)="sendPassword()"
                        class="login-form needs-validation pt-3" novalidate>
                        <div class="form-group">
                            <label class="control-label">{{'xEmail' | translate}}</label>
                            <div class="input-group">
                                <div class="input-group-prepend bg-transparent">
                                    <span class="input-group-text bg-transparent border-right-0">
                                        <i class="mdi mdi-account-outline text-primary"></i>
                                        <fa [name]="'user'"></fa>
                                    </span>
                                </div>
                                <input #emailTxt="ngModel"
                                    [class.is-invalid]="emailTxt.invalid && forgetPasswordForm.submitted"
                                    class="form-control" required [(ngModel)]="forgotPasswordDto.Email" name="Email"
                                    type="text" placeholder="{{'xEmail' | translate}}" [appAutofocus]="true"
                                    autocomplete="off">
                                <div class="invalid-tooltip" *ngIf="!emailTxt.hasError('email')">
                                    {{'xEmailCantBeEmpty' | translate}}</div>
                                <div class="invalid-tooltip" *ngIf="emailTxt.hasError('email')">
                                    {{'xEnterValidMailAddress' | translate}}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <button type="submit"
                                class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                <i class="fa fa-paper-plane-o fa-lg fa-fw"></i>{{'xSend' | translate}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>