<footer class="footer">
    <div class="w-100 clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">{{'xCopyright' | translate}}
            {{'xAllRightsReserved' | translate}}
        </span>


        <a class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center" [routerLink]="['/SiteMap']">
            <fa [name]="'sitemap'"></fa>
            {{'xSiteMap' | translate}}
        </a>
    </div>
</footer>
<!--
    <footer class="footer">
    <div class="w-100 clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">{{'xCopyright' | translate}}
            {{'xAllRightsReserved' | translate}}
        </span>
        <span class="d-flex justify-content-center">
            <a class="aLink" [routerLink]="['SiteMap']">
                <fa [name]="'sitemap'"></fa>
                {{'xSiteMap' | translate}}
            </a>
        </span>
        <span
            class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">{{'xSloganOnlineSaleOrderAccounting' | translate}}
            <i class="mdi mdi-heart-outline text-danger"></i>
        </span>
    </div>
</footer>
-->