<div class="card mb-2">
    <div class="card-body p-2">
        <div class="row">
            <div class="col-12">
                <h5 *ngIf="listItem.AddressTypeId >= 0">{{addressTypes[listItem.AddressTypeId] | translate}}</h5>
                <h5 *ngIf="listItem.AddressTypeId == -3">{{'xDeliveryAddress' | translate}}</h5>
                <h5 *ngIf="listItem.AddressTypeId == -2">{{'xInvoiceReceiptAddress' | translate}}</h5>

                <h6 *ngIf="listItem.InvolvedPersonName">{{listItem.InvolvedPersonName}}</h6>
                <p>
                    <span *ngIf="listItem.Notes">{{listItem.Notes}}<br></span>
                    <span *ngIf="listItem.LocalityName">{{listItem.LocalityName}} / </span>
                    <span *ngIf="listItem.DistrictName">{{listItem.DistrictName}} / </span>
                    <span *ngIf="listItem.CityName">{{listItem.CityName}} / </span>
                    <span *ngIf="listItem.StateName">{{listItem.StateName}} / </span>
                    {{listItem.CountryName | translate}}
                    <span *ngIf="listItem.ZipCode"><br>{{'xZipCode' | translate}}: {{listItem.ZipCode}} </span>
                    <span *ngIf="listItem.Phone"><br>{{'xPhone' | translate}}: 0{{listItem.Phone}} </span>
                </p>
            </div>
        </div>
    </div>

</div>