<page-title *ngIf="!IsInside" [helpName]="'StockActivities'" [icon]="'file-text-o'" [title]="'xStockActivities'">
</page-title>

<person-product-activity-list-criteria [IsInside]="IsInside"></person-product-activity-list-criteria>

<div class="tile" [class.border]="IsOpen" [class.border-danger]="IsOpen">
    <h5>{{'xActivities' | translate}} </h5>
    <div class="row" *ngIf="activityListDto.length > 0">
        <div class="col-12" *ngFor="let activityDto of activityListDto" [@expandCollapse]>
            <person-product-activity-list-item [listItem]="activityDto"></person-product-activity-list-item>
        </div>
    </div>
    <div class="row" *ngIf="activityListDto.length == 0">
        <div class="col-12">
            <h4 class="text-danger no-records mb-0" *ngIf="busy"> {{'xPleaseWait' | translate}} </h4>
            <h4 class="text-danger no-records mb-0" *ngIf="!busy"> {{'xNoRecordsFound' | translate}} </h4>
        </div>
    </div>
    <div class="row" *ngIf="IsInside">
        <div class="col-12">
            <button class="btn btn-primary btn-sm float-right" type="button" (click)="more()">
                <fa [name]="'caret-down'"></fa>{{'xMore' | translate}}
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ngx-loading [show]="busy"></ngx-loading>
    </div>
</div>