<div class="card mb-1 border-info">
    <div class="card-body p-2">
        <div class="row">
            <div class="col-sm-4 pr-0">
                <strong>{{listItem.ProductName}}</strong>
            </div>
            <div class="col-sm-5 pr-0">
                {{productTypes[listItem.ProductTypeId] | translate}}
                <span *ngIf="listItem.ProductTypeId == productTypes.xShopping"> / {{listItem.Balance}}</span>
            </div>
            <div class="col-sm-3 pr-0">
                <button *ngIf="!host.criteriaBo.Multiple" class="btn btn-primary btn-block btn-sm" type="submit"
                    (click)="selectItem()">
                    <fa [name]="'check'"></fa>{{'xSelect' | translate}}
                </button>
                <div class="utility" *ngIf="host.criteriaBo.Multiple">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="listItem.Checked" name="Checked">
                            <span class="label-text" *ngIf="listItem.Checked">{{'xUnselect' | translate}}</span>
                            <span class="label-text" *ngIf="!listItem.Checked">{{'xSelect' | translate}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>