<label class="btn btn-sm btn-outline-primary btn-naked">
    <fa [name]="'search'"></fa>{{'xUploadImage' | translate}}
    <input #inputFile type="file" (change)="fileChange($event)" accept=".png,.jpg,.jpeg,.gif" hidden />
</label>
<div class="modal fade" *ngIf="isModalOpen" bsModal #modal="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="dialog-events-name">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="dialog-events-name" class="modal-title pull-left">{{'xUploadImage' | translate}}</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-2" style="height: 400px;">
                <div class="row" *ngIf="imageUrl">
                    <div class="col-12">
                        <image-cropper *ngIf="isCircle" [imageBase64]="imageUrl" [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4" [resizeToWidth]="200" [roundCropper]=true format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [onlyScaleDown]=true
                            [imageQuality]=100>
                        </image-cropper>

                        <img *ngIf="!isCircle" [src]="imageUrl" alt="." width="100%" height="100%">
                    </div>
                </div>
            </div>

            <div class="modal-footer pl-2 pb-2 pt-2">
                <ngx-loading [show]="busy"></ngx-loading>
                <button class="btn btn-danger btn-sm pull-right" type="button" (click)="cancel()"
                    *ngIf="imageUrl != null">
                    <fa [name]="'ban'"></fa>{{'xCancel' | translate}}
                </button>
                <button class="btn btn-success btn-sm pull-right" type="button" *ngIf="imageUrl != null"
                    (click)="uploadImage()">
                    <fa [name]="'upload'"></fa>{{'xUpload' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>